<html>
    <head>
        <title>Jobify ADMIN</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 
        <link href="/estilos.css" rel="stylesheet">
    </head>
    <body>
        <form method="POST" action="/login">
            <div id="div-login">
                <h1 id="h1-login">Login</h1>
                <input id="input-login" type="text" name="login" placeholder="Usuário ...">
                <br>
                <input id="input-password-login" type="password" name="senha" placeholder="Senha ...">
                <br><br>
                <button class="button" style="vertical-align:middle"><span>Entrar</span></button>    
            </div>
        </form>
     </body>
</html>


